/* instellingen */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}


a {
    text-decoration: none;
    color: white
}

/* hoofding */
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgb(34, 34, 34);
}

header .menu {
    padding: 20px;

}

header img {
    width: 3rem;

}

.header-top {
    padding: 10px;
    border-bottom: 2px solid white;
    color: white;
    font-size: smaller;
    text-align: center;
}

#nav {
    position: fixed;
    top: 0;
}

header nav a {
    text-decoration: none;
    padding: 20px;

}

header nav a:hover {

    text-decoration-line: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
}

header nav li {
    display: inline-block;

}


header i {
    font-size: 20px;
    color: white;
    padding: 1rem;


}

header input {
    width: 8rem;
    padding-right: 4rem;


}

/* vormgeving classes */

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.flex-item {
    flex: 1;
}


.align-center {
    align-items: center;
}

.videoframe {
    overflow: hidden;
    max-height: 100vh;
    
}

.videoframe .shopnow {
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 43%;
    
}

video {
    width: 100%;
}


.button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 15px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}


    
figcaption {
color: black;

}


#featured {
    margin: 5%;


}

#featured h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5%;

}

#featured img {
    width: 100%;
}

#men {
    margin: 5%;
    

}

#men h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5%;

}

#men img {
    width: 100%;
}
#men p {
    color: gray;

}
#woman {
    margin: 5%;
    

}

#woman h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5%;

}

#woman img {
    width: 100%;
}
#woman p {
    color: gray;

}

#cta {
    padding: 5%;
}
 
#cta .bgc-highlights {
    background-color: black;
}


#cta .bgd-joinus {
    background-image: url("static/img/cta.avif");
    background-size: cover;
    background-position: right;
}

#cta p {
    margin: 5%;
    color: white
}
#cta h4 {
    color: 
    white;
}
.btn {
    background-color: white;
    margin:2rem;
    border-radius: 6px;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
}

footer {
    background-color: rgb(34, 34, 34);
    color: #fff;
    padding: 40px 30px;
  }
  

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
   
  }
  footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer ul li a {
    font-size: 0.8rem;
}
  footer a:hover {
    color: #fff;
    
}

 
  footer li {
    margin-bottom: 10px;
  }
  

  footer a {
    color: #555555;
    text-decoration: none;
  }

  footer i:hover {
    transform: scale(1.5);
}
  #icons i {
     color: white;

     display:block
     
     
     

  }

  

