/* instellingen */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}


a {

    color: white
}
/* hoofding */
header{
    background-color:rgb(34, 34, 34);        
    padding: 20px;
}



header img {
    width: 3rem;

}

    #ht {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
        color: white;
        font-size: smaller;
       



    }


#nav {
    position: fixed;
    top: 0;
    }

header nav a {
    text-decoration: none;
    padding: 20px;

}

header nav a:hover {
   
    text-decoration-line: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    
}

header nav li {
    display: inline-block;
    
}


header i {
    font-size: 20px;
    color: white;
     
    
}

header input {
    width:  8rem;
    padding-right: 4rem;


}

/* vormgeving classes */

.flex-container {
    display: flex;
    justify-content: space-between;
    
}
.align-center {
    align-items: center;
}

.videoframe {
    overflow: hidden;
    max-height: 100vh;
  }
  
  video {
    width: 100%;
  }