@import url("https://use.typekit.net/hfi1kak.css");

:root {
  --bgc-01: #8C472E;
  --bgc-02: #3FCCAB;
  --bgc-03: #F5D855;
  --bgc-04: #ffffff;
  --txt-01: hsl(0, 0%, 90%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--bgc-04);
  color: var(--txt-01);
  font-family: "adriane", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;

}



img {
  display: block;
  width: 100%;
}

/* vormgeving header */

header {
  background-color: var(--bgc-01);
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

header input#burger {
  display: none;


}

header label[for="burger"] {
  display: none;
}

header img {
  justify-self: center;
  display: inline;
  width: 15rem;


}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 20px;

}

nav li {
  margin-left: 10px;

}

nav a {
  text-decoration: none;
  color: var(--txt-01);
  margin: 10px;
}

nav a:hover {
  color: var(--bgc-03)
}


.logo {
  justify-self: center;
}



.lineup-section {
  margin-top: 4rem;
}

.lineup-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "hayanbaram", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1%;
}

.grid-container img {
  width: 100%;
  height: auto;
}

.artist {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.artist img {
  width: 100%;
  height: auto;

}

.artist:hover img {
  transform: scale(1.1);
}

.artist h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-family: "hayanbaram", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.grid-container img {
  width: 100%;
  height: auto;
}

.lineup-section {
  margin-top: 4rem;
}

.lineup-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "hayanbaram", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: var(--bgc-01);
  color: #fff;
  padding: 40px 30px;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "hayanbaram", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#act1 h1 {
  padding-top: 2rem;
  font-size: 4rem;
  font-family: "hayanbaram", sans-serif;
  font-weight: 550;
  font-style: normal;

}

#act1 p {
  padding: 1rem;
  display: block;


}

#act1 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 24vw;
}

#act1 img {
  margin-top: 20px;
  width: 100%;
}

#video-section {
  margin-top: 20px;

}

#video-section {
  font-family: "hayanbaram", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-image: url(static/img/achtergrond.png);
  background-size: cover;
}


footer ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

footer ul li {
  font-size: 0.8rem;
  line-height: 2;
  list-style-type: none;
}

footer ul li:first-child a {
  color: #fff;
  font-size: 1rem;

  text-transform: uppercase;
}

footer ul li a {
  font-size: 0.8rem;
}

footer a:hover {
  color: #fff;

}


footer li {
  margin-bottom: 10px;
}


footer a {
  color: var(--bgc-03);
  text-decoration: none;
}

footer i:hover {
  transform: scale(1.5);
}

#icons i {
  color: white;
  font-size: 1.5rem;
  display: block;
  padding: 10px;
}

@media (max-width: 750px) {
  header {

    justify-content: space-between;
  }

  header label[for="burger"] {
    position: fixed;
    z-index: 4;
    right: 1rem;
    top: 1rem;
    display: block;
    font-size: 2rem;
    color: var(--bgc-03);
    cursor: pointer;
  }

  header .logo {
    margin-left: 10px;
  }

  header nav ul {
    z-index: 3;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: var(--bgc-02);
    padding: 1rem;
    top: 1rem;

  }

  header nav li {
    display: block;
    margin-bottom: 5px;
  }

  header input#burger:checked+label+nav ul {
    display: flex;
  }

  #act .flex-container {
    padding: 25px;
  }
  .artist {
    margin: 3rem;
  }

  .lineup-section .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}